{% extends "base.html.twig" %}

{% block title %} Vue UI {% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
  #app {
    display: flex;
    align-items: center;
  }

  #center-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box {
    width: calc(50% - 14px);
    max-width:400px;
    height: 40%;
    max-height: 500px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 1px 4px hsl(0deg 0% 72%);
  }

  .box:first-child {
    margin: 0px 14px;
  }
</style>
{% endblock %}



{% block body %}
    <div id="app">
      <div id="center-container">
        <div class="box">
          <form-manager get-route="{{ get_route }}" post-route="{{ post_route }}" v-on:api-response="displayResponse"></form-manager>
        </div>
        <div class="box">
          ${ response }
        </div>
    </div>
  </div>

{% endblock %}
